@import url("font-awesome.min.css");
@import url("zocial.css");
@import url("../fontawesome/css/all.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

@font-face {
  font-family: "fontawesome";
  src: url("../fontawesome/css/all.css");
}

/* Reset */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome !important;
  /* font-size: 80% !important; */
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: solid 1px #e4e4e4;
  color: inherit;
  text-decoration: none !important;
}

a:hover {
  border-bottom-color: transparent;
  color: #497286 !important;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #3c5d6e;
  font-family: "CMUSansSerifMedium";
  border-radius: 5px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  /* font-weight: 700; */
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 170%;
  /* box-shadow: 3px 3px 10px gray; */
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  background-color: #2c586f;
  color: #ffffff !important;
  transform: scale(1.05);
  /* box-shadow: 4px 4px 20px gray; */
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
  background-color: #8b8b8b;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
  display: block;
  margin: 0 0 1.125em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
  font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #e4e4e4;
  color: #777 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
.button.alt:hover {
  background-color: #f4f4f4;
  color: #777 !important;
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
.button.alt:active {
  background-color: #eaeaea;
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
.button.alt.icon:before {
  color: #aaa;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
  background-color: #6d7993;
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
.button.special:hover {
  background-color: #5ed0b1;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
.button.special:active {
  background-color: #39c29d;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
  background-color: #888 !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}

.btn-primary-overide {
  color: #fff;
  background-color: #3c5d6e;
  border-color: #3c5d6e; /*set the color you want here*/
  height: 2.5em;
}
.btn-primary-overide:hover, .btn-primary-overide:focus, .btn-primary-overide:active, .btn-primary-overide.active, .open>.dropdown-toggle.btn-primary-overide {
  color: #3c5d6e;
  background-color: #fff;
  border-color: #3c5d6e; /*set the color you want here*/
  text-decoration: none;
}

.github:hover {
  background-color: #50a457;
}

/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2.25em 0;
  width: 100%;
}

table tbody tr {
  /* border: solid 2px #f4f4f4; */
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: #fafafa;
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #777;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 4px #e4e4e4;
}

table tfoot {
  border-top: solid 4px #e4e4e4;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 2px #e4e4e4;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 2px;
}

table.alt tbody tr:first-child td {
  border-top-width: 2px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

.pubs-table{
  width: 80%; 
  padding-top:4em; 
  padding-left:2.2em; 
  table-layout:fixed; 
  margin-left: auto; 
  margin-right: auto
}

/* icons */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: large;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* specific icons */

.fa-github:before {
  font-family: FontAwesome;
  content: "\f09b";
}

/* headers */

.header-logo {
  text-align: center;
  background-color: #497286;
  color: white;
  /* vertical-align: middle; */
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.logo-container {
  height: 80%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.logo-text {
  font-size: 250%;
  /* margin-bottom: 2.0em;  */
  /* margin-top: 1.0em; */
  margin-left: 2em;
}

.morebutton {
  text-decoration: none; 
  border: none;
  padding: 6px;
}

/* Scroll animation */

.scroll-downs {
  margin: auto;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* scroll animation over */

/* text strikethrough */

.hr-text-container {
  /* width: 100%; */
  font-size: 250%;
  /* height: 1.05em; */
  /* border-bottom: 1.5px solid #ddd; */
  /* text-align: left; */
  /* float: left; */
  /* background-color: white; */
}

.hr-text-content {
  font-size: 1vw;
  /* background-color: white; */
  /* padding-right: 10px; */
  /* color: #497286; */
}

/* header css */

/*Header CSS*/

.decorated {
  overflow: hidden;
  text-align: center;
}

.decorated > span {
  position: relative;
  /* display: inline-block; */
}

.decorated > span:before,
.decorated > span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 100vw;
  margin: 0 20px;
}

.decorated > span:before {
  right: 100%;
}

.decorated > span:after {
  left: 100%;
}

/* pubs links */

.links {
  background-color: #497286;
  color: white;
  padding: 3px 6px;
  width: 120px !important;
  border-radius: 0.2em;
  font-size: 1.7em;
  text-decoration: none;
  border: 1.5px solid transparent;
}

.links:before {
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-top: 0.5px;
  vertical-align: middle;
  font-weight: 900;
}

.links.slides:before {
  content: "\f685";
}

.links.github:before {
  font-family: FontAwesome;
  content: "\f09b";
  font-weight: 1200;
}

.links.doi:before {
  content: "\f0ac";
}

.links.proceedings:before {
  content: "\f02d";
}

.links.video {
  background-color: #83c4b9;
}

.links.video:before {
  content: "\f03d";
}

.links.video:hover {
  border: 1.5px solid #83c4b9;
  background-color: white;
  color: #83c4b9 !important;
}

.links.poster:before {
  content: "\f1c5";
}

.links.news:before {
  content: "\f70f";
}

.links.data:before {
  content: "\f1c0";
}

.links.website:before {
  content: "\f37e";
}

.links.publish {
  background-color: indianred;
}

.links.publish:hover {
  border: 1.5px solid indianred;
  background-color: white;
  color: indianred !important;
}

.links.publish:before {
  content: "\f570";
}

.links.studentthesis:before {
  content: "\f02d";
}

.links.award {
  background-color: indianred;
}

.links.award:before {
  content: "\f091";
  padding-bottom: 0px;
  padding-top: 0px;
}

.links:hover {
  border: 1.5px solid #6d7993;
  background-color: white;
}

.links.award:hover {
  border: 1.5px solid indianred;
  background-color: white;
  color: indianred !important;
}

/* pubs css */

.pubs_img {
  width: 50%;
  min-width: 80px;
  display: box;
  /* border-right: 2px solid black;
  padding-right: 1em;
  padding-left: 6em;
  text-align: right; */
  text-decoration: none !important;
}

.pubs_title {
  text-decoration: none !important;
  border: none; 
  font-family: CMUSansSerifMedium;
  /* font-family: SegoeUILightWeb, Segoe UI Light, Helvetica, Verdana, Sans-Serif; */
  font-size: 180%;
  /* font-weight: bold; */
  color: #497286 !important;
}

.pubs_authors {
  font-family: SegoeUILightWeb, Segoe UI Light, Helvetica, Verdana, Sans-Serif;
  font-size: 150%;
}

.pubs_type {
  font-family: SegoeUILightWeb, Segoe UI Light, Helvetica, Verdana, Sans-Serif;
  font-size: 150%;
  color: #526873;
}

.no-decoration {
  text-decoration: none !important;
  border: none;
  color: inherit;
}

/* overlap */

.pubs-img-container {
  padding-right: 2px; 
  padding-top: 1em; 
  padding-right: 1.1em; 
  width: 20vw
}

.pubs_img {
  border-style: solid !important;
  border-width: 1px !important;
  display: block;
  width: 100%;
}

/* .pubs_title {
  font-family: 'CMUSansSerif';
  font-size: 1.2em;
}

.pubs_title_a {
  text-decoration: none;
  border: none;
  font-family: 'CMUSansSerif';
  font-size: 16pt;
} */

/* .pubs_content {
  font-family: 'CMUSansSerif';
  font-size: 16pt;
} */

.image-holder {
  float: left;
  width: 80%;
  vertical-align: middle;
}

.pub-text {
  padding-top: 2em;
}

.resource {
  padding-top: 1em;
  padding-bottom: 1em;
}

.resource.atlas {
  background-color: #F6FFFF;
}

.resource.speedchecker {
  background-color: #FFF9F6;
}

.fig {
  padding: .5em;
}

.resource-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.resource-img-med {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resource-img-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.caption {
  /*    border: 1px dotted blue;*/
  text-align: center;
  color: #6d7993;
}
