{{ $svgName := index .Params 0 }} {{ $caption := index .Params 1 }} {{ $pageDir := .Page.File.Dir }} {{ $lightSvgPath := printf "%ssvgs/%s/light.svg" $pageDir $svgName }} {{ $darkSvgPath := printf "%ssvgs/%s/dark.svg" $pageDir $svgName }}

<style>
    .constrain-image {
        max-width: 100% !important;
        height: auto !important;
    }

    .constrain-image svg {
        width: 100% !important;
        height: auto !important;
    }
</style>

<div>
    <figure class="svg-lightmode constrain-image">{{ readFile $lightSvgPath | safeHTML }}</figure>
    <figure class="svg-darkmode constrain-image">{{ readFile $darkSvgPath | safeHTML }}</figure>
    {{ if $caption }}
    <figcaption>{{ $caption | markdownify }}</figcaption>
    <br />
    {{ end }}
</div>
